@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{ 
  max-width: 1400px;
  margin: 0 auto;
}

.reddit_sans{
  font-family: "Reddit Sans", sans-serif;
}

.outfit_fonts {
  font-family: "Outfit", sans-serif;
}

